.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBackground {
    background-image: url(/images/introduce/pure_coconut_water.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.introduceCompanyProfile {
    padding-left: 80px;

    .introduceCompanyProfileTopCover {
        width: 100%;
        height: 140px;
        padding-top: 35px;
        justify-content: start;

        .introduceCompanyProfileTitle {
            h1 {
                color: #00894f;
                font-size: 40px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: "";
                    width: 210px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }
    }

    .introduceCompanyProfileBreadcrumb {
        text-transform: uppercase;
        color: #00894f;
        font-weight: 600;
        font-size: 19px;
    }
}

.introduceLeadership {
    flex-direction: column;

    .introduceLeadershipTopCover {
        width: 100%;
        height: 100px;
        padding-top: 35px;
        align-items: flex-start;

        .introduceLeadershipTitle {
            h1 {
                color: #00894f;
                font-size: 30px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: "";
                    width: 170px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }
    }

    .introduceLeadershipCenter {
        width: 860px;

        p {
            color: #8dc63f;
            text-align: center;
            font-size: 16px;
        }
    }

    .introduceLeadershipLogo {
        width: 100%;
        margin-top: 15px;
    }
}

.aboutTheDirector {
    justify-content: space-between;
    margin-top: 50px;

    .aboutTheDirectorLeft {
        .aboutTheDirectorLeftBackground {
            width: 615px;
            height: 300px;
            background-color: #8dc63f;
        }
    }

    .aboutTheDirectorRight {
        flex-direction: column;

        .aboutTheDirectorRightCover {
            width: 100%;
            height: 100px;
            padding-top: 35px;
            align-items: flex-start;
            margin-bottom: 15px;

            .aboutTheDirectorRightTitle {
                h1 {
                    color: #00894f;
                    font-size: 30px;
                    margin-bottom: unset;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;

                    &::after {
                        content: "";
                        width: 170px;
                        height: 6px;
                        background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 130%;
                        left: 50%;
                    }
                }
            }
        }

        .aboutTheDirectorRightCenter {
            width: 616px;

            p {
                color: #8dc63f;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}

.employeeSystem {
    justify-content: space-between;
    margin: 30px 0 50px 0;

    .employeeSystemLeft {
        flex-direction: column;

        .employeeSystemLeftCover {
            width: 100%;
            height: 100px;
            padding-top: 35px;
            align-items: flex-start;
            margin-bottom: 15px;

            .employeeSystemLeftTitle {
                h1 {
                    color: #00894f;
                    font-size: 30px;
                    margin-bottom: unset;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;

                    &::after {
                        content: "";
                        width: 170px;
                        height: 6px;
                        background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 130%;
                        left: 50%;
                    }
                }
            }
        }

        .employeeSystemLeftCenter {
            width: 616px;

            p {
                color: #8dc63f;
                text-align: center;
                font-size: 16px;
            }
        }
    }

    .employeeSystemRight {
        .employeeSystemRightBackground {
            width: 615px;
            height: 300px;
            background-color: #8dc63f;
        }
    }
}

.orderNowBackground {
    background-image: url(/images/order_now/order_now.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 555px;
}

.whyChooseUs {
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    padding-top: 50px;
    display: flex;
    justify-content: center;

    .whyChooseUsCover {
        padding: 0 20px;

        .whyChooseUsTop {

            .whyChooseUsTopCover {
                .whyChooseUsTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #00894f;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            content: "";
                            width: 280px;
                            height: 6px;
                            background: linear-gradient(to right, #00894f 50%, #8dc63f 50%);
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 110%;
                            left: 50%;
                        }
                    }
                }
            }
        }

        .whyChooseUsBottom {
            padding-top: 50px;

            .colWhyChooseUs {
                padding-bottom: 20px;
                min-width: 347px;
                max-width: 350px;

                .whyChooseUsItem {
                    width: 100%;
                    flex-direction: column;
                    gap: 15px;
                    margin-bottom: 20px;

                    .whyChooseUsBottomImage {
                        width: 90px;
                        height: 88px;

                        img {
                            width: 100%;
                        }
                    }

                    h2 {
                        text-align: center;
                        color: #00894f;
                        font-size: 23px;
                        font-weight: bold;
                        text-transform: uppercase;

                    }

                    p {
                        color: #8dc63f;
                        text-align: center;
                        width: 310px;
                    }
                }
            }
        }
    }
}

.customerInformation {
    background-image: url(/images/customer_information/customer_imformation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 845px;

    .customerInformationCover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;

        .customerInformationTop {
            .customerInformationTopCover {
                .customerInformationTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #fff;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            content: "";
                            width: 280px;
                            height: 6px;
                            background: linear-gradient(to right, #00894f 50%, rgb(255, 255, 255) 50%);
                            position: absolute;
                            transform: translate(-50%, 50%);
                            top: 110%;
                            left: 50%;
                        }
                    }
                }
            }
        }

        .customerInformationCenter {
            margin-top: 40px;

            p {
                margin-bottom: unset;
                font-size: 18px;
            }
        }

        .customerInformationBottom {
            margin: 30px 0;
            flex-direction: column;
            gap: 20px;

            input {
                width: 55rem;
                height: 50px;
                background-color: #fff;
                padding: 10px 20px;
                font-size: 18px;
                color: #00894F;
            }

            textarea {
                width: 55rem;
                background-color: #fff;
                padding: 10px 20px;
                font-size: 18px;
                color: #000;
            }

            .btn_see_more {
                margin-top: 3rem;

                button {
                    background: linear-gradient(to right, #8dc63f, #00894f);
                    width: 220px;
                    height: 35px;
                    border-radius: 20px;
                    justify-content: space-around;
                    cursor: pointer;

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: unset !important;
                    }

                    .iconBtn {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}