.swiperSlide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 100%;
        //height: 633px;
    }
}

.carouselCertificationBackground {
    .certificationTopCover {
        width: 100%;
        height: 150px;
        position: relative;
        padding-top: 35px;
        align-items: flex-start;

        .certificationTitle {
            h1 {
                color: #00894f;
                font-size: 45px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .certificationLine {
            content: "";
            width: 260px;
            height: 6px;
            background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
            position: absolute;
            transform: translate(-50%, 50%);
            top: 60%;
            left: 50%;
        }
    }

    .certificationCarousel {
        padding: 0 20px 0 20px;

        .certificationCard {
            text-align: center;
            margin-bottom: 4rem;

            .certificationCardImage {
                display: flex;
                align-items: center;
                justify-content: center;

                .certificationCardImg {
                    width: 300px;
                    height: 430px;
                    animation: transform 4s ease-in-out;
                    border: 8px solid #00894f;
                    padding: 10px;
                    border-radius: 5px;
                }
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                color: #00894f;
                margin-top: 10px;
            }
        }
    }
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs {
    background-image: url(/images/about_us/backfround_orange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px;
    display: flex;
    justify-content: center;

    .aboutUsCover {
        width: 1180px;
        height: 575px;
        background-color: #8ec63fd8;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding: 35px 88px;

        .aboutUsTop {
            .aboutUsTopCover {
                position: relative;

                .aboutUsPicture {
                    width: 100%;
                    justify-content: end;

                    img {
                        width: 150px;
                    }

                    &:nth-child(3) {
                        justify-content: start;
                    }
                }

                .aboutUsTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #00894f;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

                .line {
                    content: "";
                    width: 220px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 50%, rgb(255, 255, 255) 50%);
                    position: absolute;
                    transform: translate(-50%, 50%);
                    top: 80%;
                    left: 50%;
                }
            }

        }

        h2 {
            text-align: center;
            color: #00894f;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .aboutUsCenter {
            margin-top: 25px;
            margin-bottom: 20px;

            p {
                text-align: center;
            }
        }

        .aboutUsBottom {
            padding-top: 50px;

            .aboutUsItem {
                width: 100%;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 20px;

                .aboutUsBottomImage {
                    width: 90px;
                    height: 88px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.helloSummer {
    background-image: url(/images/about_us/hello_summer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 285px;
}

.carouselProductBackground {
    .productTopCover {
        width: 100%;
        height: 150px;
        position: relative;
        padding-top: 35px;
        align-items: flex-start;

        .productTitle {
            h1 {
                color: #00894f;
                font-size: 45px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .productLine {
            content: "";
            width: 230px;
            height: 6px;
            background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
            position: absolute;
            transform: translate(-50%, 50%);
            top: 60%;
            left: 50%;
        }
    }

    .productCarousel {
        padding: 0 20px 0 20px;

        .productCard {
            text-align: center;
            margin-bottom: 4rem;
            box-shadow: 4px 4px 10px -1px #1D4486;
            width: 75% !important;

            .productCardImage {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 300px;
                    height: 300px;
                }
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                color: #00894f;
                margin-top: 10px;
            }

            h4 {
                color: #00894f;
            }
        }
    }
}

.orderNowBackground {
    background-image: url(/images/order_now/order_now.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 555px;
}

.bestSelling {
    background-color: #fff;
    width: 100%;
    padding: 20px 40px;

    .bestSellingTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        color: #00894f;
        font-weight: bold;
        margin-bottom: 20px;
        
        .bestSellingTop__left{
            display: flex;
            justify-content: center;
            align-items: center;

            .left__cover{
                display: flex;
                gap: 25px;
                justify-content: center;
                align-items: center;

                .images{
                    width: 100px;
                    img{
                        width: 100%;
                    }
                }
                .coverTitle{
                    position: relative;
                    .title{
                        h2{
                            font-size: 40px;
                            color: #8dc63f;
                            margin-bottom: unset;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    .line{
                        position: absolute;
                        content: "";
                        width: 220px;
                        height: 6px;
                        background: linear-gradient(to right, #00894f 50%, #8dc63f 50%);
                        bottom: -20%;
                        left: 0;

                    }
                }
            }
        }

        .bestSellingTop__right{
            margin-top: 32px;

            .right__cover{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                color: #8dc63f;

                a{
                    font-size: 25px;
                    transition: all .5s;
                }
                .menuTop{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;
                    .itemLink{
                        transition: all .5s;
                        &:hover{
                            a{
                                color: #00894f;
                            }
                        }

                        
                    }
                    
                }
                .menuBottom{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;

                    .itemLink{
                        transition: all .5s;
                        &:hover{
                            a{
                                color: #00894f;
                            }
                        }

                        
                    }
                }
            }
        }
    }
    .bestSellingBottom{
        display: flex;
        margin: 25px 0;
        overflow: hidden;

        .bestSellingBottom__left{
            .images{
                width: 315px;
                img{
                    width: 100%;
                    }
                }
        }

        .bestSellingBottom__right{
            .carousel {
                .bestSellingCarousel {
                    // height: 360px !important;
                    
                    .bestSellingCard {
                        text-align: center;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        // border: 1px solid black;
                        // height: 350px;
                        width: 240px !important;
            
                        .bestSellingCardImage {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 250px;

                            img {
                                width: 100%;
                            }
                        }
            
                        h1 {
                            font-size: 16px;
                            font-weight: bold;
                            color: #00894f;
                            margin-top: 10px;
                        }
            
                        h4 {
                            color: #00894f;
                        }
                    }
                }
            }

        }
    }
}

.freshSummerDay {
    background-image: url(/images/fresh_summer_day/fresh_summer_day.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.newProduct {
    background-color: #fff;
    width: 100%;
}

.juiceGuava {
    background-image: url(/images/juice_guava/juice_guava.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}

.featuredProduct {
    background-color: #fff;
    width: 100%;
}

.brands{
    background-color: #fff;
    padding: 2rem 6rem;
    .brandImage{
        width: 400px;
        img{
            width: 100%;
        }
    }
}

.news {
    width: 100%;
    height: 550px;
    background-color: #00894F;

    .newsCover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;

        .newsTop {
            .newsTopCover {
                position: relative;

                .newsTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #fff;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        
                    }
                }

                .newsLine {
                    content: "";
                    width: 210px;
                    height: 6px;
                    background: linear-gradient(to right, #fff 60%, #8dc63f 40%);
                    position: absolute;
                    transform: translate(-50%, 50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }
    }
}

.whyChooseUs {
    background-image: unset;
    height: 520px;
    background-color: white;
    padding-top: 50px;

    .whyChooseUsCover {
        width: unset;
        height: unset;
        background-color: unset;
        padding: unset;
        padding: 0 20px;

        .whyChooseUsTopCover {
            position: relative;

            .whyChooseUsLine {
                content: "";
                width: 280px;
                height: 6px;
                background: linear-gradient(to right, #00894f, rgb(255, 255, 255));
                position: absolute;
                transform: translate(-50%, 50%);
                top: 105%;
                left: 50%;
            }

            .lineWhyChooseUs {
                background: linear-gradient(to right, #00894f 50%, #8dc63f 50%);
            }

            .whyChooseUsTitle {
                width: 700px;
                text-align: center;

                h1 {
                    color: #00894f;
                    font-size: 45px;
                    margin-bottom: unset;
                    font-weight: bold;
                    text-transform: uppercase;
                    
                }
            }
        }

        .colWhyChooseUs {
            padding-bottom: 20px;
        }

        p {
            color: #8dc63f;
            text-align: center;
            width: 310px;
        }
    }
}

.customerImformation {
    background-image: url(/images/customer_imformation/customer_imformation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 845px;

    .customerImformationCover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;

        .customerImformationTop {
            .customerImformationTopCover {
                position: relative;

                .customerImformationTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #fff;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        
                    }
                }

                .customerImformationLine {
                    content: "";
                    width: 280px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 50%, rgb(255, 255, 255) 50%);
                    position: absolute;
                    transform: translate(-50%, 50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }

        .customerImformationCenter {
            margin-top: 40px;

            p {
                margin-bottom: unset;
                font-size: 22px;
            }
        }
    }
}