.swiperSlide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 100%;
        height: 633px;
    }
}

.carouselCertificationBackground {
    background-color: #fff;

    .certificationTopCover {
        width: 100%;
        height: 140px;

        .certificationTitle {
            h1 {
                color: #00894f;
                font-size: 40px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: "";
                    width: 190px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }
    }

    .certificationCarousel {
        margin: 0 25px 0 25px;

        .certificationCard {
            text-align: center;
            margin-bottom: 4rem;

            .certificationCardImage {
                display: flex;
                align-items: center;
                justify-content: center;

                .certificationCardImg {
                    width: 300px;
                    height: 430px;
                    animation: transform 4s ease-in-out;
                    border: 8px solid #00894f;
                    padding: 10px;
                    border-radius: 5px;
                }
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                color: #00894f;
                margin-top: 10px;
            }
        }

        svg { 
            display: none;
        }
    }
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs {
    background-image: url(/images/about_us/backfround_orange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px;
    display: flex;
    justify-content: center;

    .aboutUsCover {
        width: 1180px;
        height: 575px;
        background-color: #8ec63fd8;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding: 35px 88px;

        .aboutUsTop {
            .aboutUsTopCover {
                position: relative;

                .aboutUsPicture {
                    width: 100%;
                    justify-content: end;

                    img {
                        width: 150px;
                    }

                    &:nth-child(3) {
                        justify-content: start;
                    }
                }

                .aboutUsTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #00894f;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            content: "";
                            width: 220px;
                            height: 6px;
                            background: linear-gradient(to right, #00894f 60%, rgb(255, 255, 255) 40%);
                            position: absolute;
                            transform: translate(-50%, 50%);
                            top: 95%;
                            left: 50%;
                        }
                    }
                }
            }

        }

        h2 {
            text-align: center;
            color: #00894f;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .aboutUsCenter {
            margin-top: 25px;
            margin-bottom: 20px;

            p {
                text-align: center;
            }
        }

        .aboutUsBottom {
            padding-top: 50px;

            .aboutUsItem {
                width: 100%;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 20px;

                .aboutUsBottomImage {
                    width: 90px;
                    height: 88px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.helloSummer {
    background-image: url(/images/about_us/hello_summer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 285px;
}

.ant-carousel {
    .slick-next {
        &::before {
            content: '';
        }
    }

    .slick-prev {
        &::before {
            content: '';
        }
    }
}

.carouselProductBackground {
    .productTopCover {
        width: 100%;
        height: 140px;

        .productTitle {
            h1 {
                color: #00894f;
                font-size: 40px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: "";
                    width: 190px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }
    }

    .productCarousel {
        margin: 0 25px 0 25px;

        .productCard {
            text-align: center;
            margin-bottom: 4rem;
            box-shadow: 4px 4px 10px -1px #1D4486;
            width: 75% !important;

            .productCardImage {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 300px;
                    height: 300px;
                }
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                color: #00894f;
                margin-top: 10px;
            }

            h4 {
                color: #00894f;
            }
        }

        svg { 
            display: none;
        }
    }
}

.orderNowBackground {
    background-image: url(/images/order_now/order_now.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 555px;
}

.bestSelling {
    background-color: #fff;
    width: 100%;
    padding: 20px 40px;

    .bestSellingTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        color: #00894f;
        font-weight: bold;
        margin-bottom: 20px;

        .bestSellingTop__left {
            display: flex;
            justify-content: center;
            align-items: center;

            .left__cover {
                display: flex;
                gap: 25px;
                justify-content: center;
                align-items: center;

                .images {
                    width: 100px;

                    img {
                        width: 100%;
                    }
                }

                .coverTitle {
                    position: relative;

                    .title {
                        h2 {
                            color: #8dc63f;
                            font-size: 40px;
                            margin-bottom: unset;
                            font-weight: bold;
                            text-transform: uppercase;
                            position: relative;

                            &::after {
                                content: "";
                                width: 220px;
                                height: 6px;
                                background: linear-gradient(to right, #00894f 50%, #8dc63f 50%);
                                position: absolute;
                                transform: translate(-50%, -50%);
                                top: 110%;
                                left: 45%;
                            }

                            &.newProductTitle {
                                &::after {
                                    left: 42%;
                                }
                            }

                            &.featuredProductTitle {
                                &::after {
                                    left: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bestSellingTop__right {
            margin-top: 32px;

            .right__cover {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                color: #8dc63f;

                a {
                    font-size: 25px;
                    transition: all .5s;
                }

                .menuTop {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;

                    .itemLink {
                        transition: all .5s;

                        &:hover {
                            a {
                                color: #00894f;
                            }
                        }


                    }

                }

                .menuBottom {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;

                    .itemLink {
                        transition: all .5s;

                        &:hover {
                            a {
                                color: #00894f;
                            }
                        }


                    }
                }
            }
        }
    }

    .bestSellingBottom {
        display: flex;
        margin: 25px 0;
        overflow: hidden;

        .bestSellingBottom__left {
            .images {
                width: 315px;

                img {
                    width: 100%;
                }
            }
        }

        .bestSellingBottom__right {
            .carousel {
                .bestSellingCarousel {
                    .bestSellingCard {
                        text-align: center;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        width: 240px !important;

                        .bestSellingCardImage {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 240px;

                            img {
                                width: 100%;
                            }
                        }

                        h1 {
                            font-size: 16px;
                            font-weight: bold;
                            color: #00894f;
                            margin-top: 10px;
                        }

                        h4 {
                            color: #00894f;
                        }
                    }
                }
            }

        }
    }
}

.freshSummerDay {
    background-image: url(/images/fresh_summer_day/fresh_summer_day.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.newProduct {
    background-color: #fff;
    width: 100%;
}

.juiceGuava {
    background-image: url(/images/juice_guava/juice_guava.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}

.featuredProduct {
    background-color: #fff;
    width: 100%;
}

.brands {
    background-color: #fff;
    padding: 2rem 6rem;

    .brandImage {
        width: 400px;

        img {
            width: 100%;
        }
    }
}

.news {
    width: 100%;
    padding: 20px 0;
    background-color: #00894F;

    .newsCover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;

        .newsTop {
            margin-bottom: 20px;

            .newsTopCover {
                position: relative;

                .newsTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #fff;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            content: "";
                            width: 210px;
                            height: 6px;
                            background: linear-gradient(to right, #fff 60%, #8dc63f 40%);
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 110%;
                            left: 50%;
                        }
                    }
                }
            }
        }

        .newsBottomCover {
            padding: 20px 40px;

            .newsItem {
                flex-direction: column;
                width: 420px;
                gap: 20px;
                margin-bottom: 40px;

                .imageTop {
                    width: 420px;

                    img {
                        width: 100%;
                    }
                }

                .contentCover {
                    .content {
                        .contentTitle {
                            h2 {
                                text-transform: uppercase;
                                font-size: 20px;
                            }
                        }

                        .contentBottom {
                            .contentBottomUp {
                                text-transform: uppercase;
                                font-size: 15px
                            }
                        }
                    }

                    .btn_see_more {
                        button {
                            background-color: #8dc63f;
                            width: 120px;
                            height: 35px;
                            border-radius: 20px;
                            justify-content: space-around;

                            p {
                                font-size: 16px;
                                font-weight: bold;
                                margin-bottom: unset !important;
                            }

                            .iconBtn {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.whyChooseUs {
    background-image: unset;
    background-color: #EDEDED;
    padding-top: 50px;
    height: 100%;

    .whyChooseUsCover {
        width: unset;
        height: unset;
        background-color: unset;
        padding: unset;
        padding: 0 20px;

        .whyChooseUsTopCover {
            position: relative;

            .whyChooseUsTitle {
                width: 700px;
                text-align: center;

                h1 {
                    color: #00894f;
                    font-size: 45px;
                    margin-bottom: unset;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;

                    &::after {
                        content: "";
                        width: 280px;
                        height: 6px;
                        background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 120%;
                        left: 50%;
                    }
                }
            }
        }

        .colWhyChooseUs {
            padding-bottom: 20px;
            min-width: 347px;
            max-width: 350px;
        }

        p {
            color: #8dc63f;
            text-align: center;
            width: 310px;
        }
    }
}

.customerInformation {
    background-image: url(/images/customer_information/customer_imformation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 845px;

    .customerInformationCover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;

        .customerInformationTop {
            .customerInformationTopCover {
                position: relative;

                .customerInformationTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #fff;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            content: "";
                            width: 280px;
                            height: 6px;
                            background: linear-gradient(to right, #00894f 50%, rgb(255, 255, 255) 50%);
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 120%;
                            left: 50%;
                        }
                    }
                }
            }
        }

        .customerInformationCenter {
            margin-top: 40px;

            p {
                margin-bottom: unset;
                font-size: 18px;
            }
        }

        .customerInformationBottom {
            margin: 30px 0;
            flex-direction: column;
            gap: 20px;

            input {
                width: 55rem;
                height: 50px;
                background-color: #fff;
                padding: 10px 20px;
                font-size: 18px;
                color: #00894F;
            }

            textarea {
                width: 55rem;
                background-color: #fff;
                padding: 10px 20px;
                font-size: 18px;
                color: #000;
            }

            .btn_see_more {
                margin-top: 3rem;

                button {
                    background-color: #8dc63f;
                    width: 220px;
                    height: 35px;
                    border-radius: 20px;
                    justify-content: space-around;
                    cursor: pointer;

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: unset !important;
                    }

                    .iconBtn {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}