.swiperSlide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 100%;
    }
}

.carouselCertificationBackground {
    background-color: #fff;

    .certificationTopCover {
        width: 100%;
        height: 140px;

        .certificationTitle {
            h1 {
                color: #00894f;
                font-size: 40px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: "";
                    width: 190px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }
    }

    .certificationCarousel {
        margin: 0 25px 0 25px;

        .certificationCard {
            text-align: center;
            margin-bottom: 4rem;

            .certificationCardImage {
                display: flex;
                align-items: center;
                justify-content: center;

                .certificationCardImg {
                    width: 300px;
                    height: 430px;
                    animation: transform 4s ease-in-out;
                    border: 8px solid #00894f;
                    padding: 10px;
                    border-radius: 5px;
                }
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                color: #00894f;
                margin-top: 10px;
            }
        }

        svg {
            display: none;
        }
    }
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs {
    background-image: url(/images/about_us/backfround_orange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px;
    display: flex;
    justify-content: center;

    .aboutUsCover {
        width: 1180px;
        height: 575px;
        background-color: #8ec63fd8;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding: 35px 88px;

        .aboutUsPicture {
            width: 100%;

            img {
                width: 150px;
            }
        }

        .aboutUsTitle {
            width: 700px;
            text-align: center;

            h1 {
                color: #00894f;
                font-size: 45px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: "";
                    width: 220px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 60%, rgb(255, 255, 255) 40%);
                    position: absolute;
                    transform: translate(-50%, 50%);
                    top: 95%;
                    left: 50%;
                }
            }
        }

        h2 {
            text-align: center;
            color: #00894f;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .aboutUsCenter {
            margin-top: 25px;
            margin-bottom: 20px;

            p {
                text-align: center;
            }
        }

        .aboutUsBottom {
            padding-top: 50px;

            .aboutUsItem {
                width: 100%;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 20px;

                .aboutUsBottomImage {
                    width: 90px;
                    height: 88px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.helloSummer {
    background-image: url(/images/about_us/hello_summer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 285px;
}

.ant-carousel {
    .slick-next {
        &::before {
            content: '';
        }
    }

    .slick-prev {
        &::before {
            content: '';
        }
    }
}

.carouselProductBackground {
    background-color: #fff;

    .productTopCover {
        width: 100%;
        height: 140px;

        .productTitle {
            h1 {
                color: #00894f;
                font-size: 40px;
                margin-bottom: unset;
                font-weight: bold;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: "";
                    width: 190px;
                    height: 6px;
                    background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 110%;
                    left: 50%;
                }
            }
        }
    }

    .productCarousel {
        margin: 0 25px 0 25px;

        .productCard {
            text-align: center;
            margin-bottom: 4rem;
            box-shadow: 4px 4px 10px -1px #1D4486;
            width: 75% !important;
            border-radius: 10px;

            .productCardImage {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 300px;
                    height: 300px;
                }
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                color: #00894f;
                margin-top: 10px;
            }

            h4 {
                color: #00894f;
            }
        }

        svg {
            display: none;
        }
    }
}

.orderNowBackground {
    background-image: url(/images/order_now/order_now.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 555px;
}

.bestSelling {
    background-color: #fff;
    width: 100%;
    padding: 20px 40px;

    .bestSellingTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        color: #00894f;
        font-weight: bold;
        margin-bottom: 20px;
        width: 100%;

        .bestSellingTop__left {
            display: flex;
            justify-content: center;
            align-items: center;

            .left__cover {
                display: flex;
                gap: 25px;
                justify-content: center;
                align-items: center;

                .images {
                    width: 100px;

                    img {
                        width: 100%;
                    }
                }

                .coverTitle {
                    position: relative;

                    .title {
                        h2 {
                            color: #8dc63f;
                            font-size: 40px;
                            margin-bottom: unset;
                            font-weight: bold;
                            text-transform: uppercase;
                            position: relative;

                            &::after {
                                content: "";
                                width: 220px;
                                height: 6px;
                                background: linear-gradient(to right, #00894f 50%, #8dc63f 50%);
                                position: absolute;
                                transform: translate(-50%, -50%);
                                top: 110%;
                                left: 45%;
                            }

                            &.newProductTitle {
                                &::after {
                                    left: 42%;
                                }
                            }

                            &.featuredProductTitle {
                                &::after {
                                    left: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bestSellingTop__right {
            margin-top: 32px;

            .right__cover {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                color: #8dc63f;

                a {
                    font-size: 25px;
                    transition: all .5s;
                }

                .menuTop {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;

                    .itemLink {
                        transition: all .5s;

                        &:hover {
                            a {
                                color: #00894f;
                            }
                        }


                    }

                }

                .menuBottom {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;

                    .itemLink {
                        transition: all .5s;

                        &:hover {
                            a {
                                color: #00894f;
                            }
                        }
                    }
                }
            }
        }
    }

    .bestSellingBottom {
        display: flex;
        margin: 25px 0;
        overflow: hidden;

        .bestSellingBottom__left {
            .images {
                width: 315px;

                img {
                    width: 100%;
                }
            }
        }

        .bestSellingBottom__right {
            .carousel {
                .bestSellingCarousel {
                    .bestSellingCard {
                        text-align: center;
                        box-shadow: 4px 4px 10px -1px #1D4486;
                        border-radius: 10px;
                        width: 240px !important;

                        .bestSellingCardImage {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 240px;

                            img {
                                width: 100%;
                            }
                        }

                        h1 {
                            font-size: 16px;
                            font-weight: bold;
                            color: #00894f;
                            margin-top: 10px;
                        }

                        h4 {
                            color: #00894f;
                        }
                    }
                }
            }

            svg {
                display: none;
            }
        }
    }
}

.freshSummerDay {
    background-image: url(/images/fresh_summer_day/fresh_summer_day.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}

.newProduct {
    background-color: #fff;
    width: 100%;

    .bestSellingTop {
        .bestSellingTop__right {
            margin-top: unset;
        }
    }
}

.juiceGuava {
    background-image: url(/images/juice_guava/juice_guava.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}

.featuredProduct {
    background-color: #fff;
    width: 100%;
}

.brands {
    background-color: #fff;
    padding: 2rem 6rem;

    .brandImage {
        width: 400px;

        img {
            width: 100%;
        }
    }
}

.news {
    width: 100%;
    padding: 20px 0;
    background-color: #00894F;

    .newsCover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;

        .newsTop {
            margin-bottom: 20px;

            .newsTopCover {
                position: relative;

                .newsTitle {
                    width: 700px;
                    text-align: center;

                    h1 {
                        color: #fff;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            content: "";
                            width: 210px;
                            height: 6px;
                            background: linear-gradient(to right, #fff 60%, #8dc63f 40%);
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 110%;
                            left: 50%;
                        }
                    }
                }
            }
        }

        .newsBottomCover {
            width: 100%;

            .newsCarousel {
                margin: 25px;

                .newsItem {
                    .imageTop {
                        width: 350px;
                        height: 250px;
                        transition: transform .2s;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            transform: scale(1.05);
                        }
                    }

                    .contentCover {
                        margin-top: 15px;

                        .content {
                            .contentTitle {
                                h2 {
                                    text-transform: uppercase;
                                    font-size: 20px;
                                    color: #fff;
                                    white-space: nowrap;
                                    width: 350px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .contentBottom {
                                .contentBottomUp {
                                    text-transform: uppercase;
                                    font-size: 15px
                                }
                            }
                        }

                        .btn_see_more {
                            .btn_see_more_link {
                                background-image: linear-gradient(to left, #8dc63f, #00894f, #8dc63f);
                                background-size: 200%;
                                width: 120px;
                                height: 35px;
                                border-radius: 20px;
                                justify-content: space-around;
                                cursor: pointer;
                                color: #fff;
                                transition: 0.6s;
                                border: 1px solid #fff;

                                p {
                                    font-size: 16px;
                                    font-weight: bold;
                                    margin-bottom: unset !important;
                                }

                                .iconBtn {
                                    font-size: 18px;
                                    color: #fff;
                                }

                                &:hover {
                                    background-position: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.whyChooseUs {
    background-image: unset;
    background-color: #EDEDED;
    padding-top: 50px;
    height: 100%;

    .whyChooseUsCover {
        width: unset;
        height: unset;
        background-color: unset;
        padding: unset;
        padding: 0 20px;

        .whyChooseUsTopCover {
            position: relative;

            .whyChooseUsTitle {
                width: 700px;
                text-align: center;

                h1 {
                    color: #00894f;
                    font-size: 45px;
                    margin-bottom: unset;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;

                    &::after {
                        content: "";
                        width: 280px;
                        height: 6px;
                        background: linear-gradient(to right, #00894f 60%, #8dc63f 40%);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 120%;
                        left: 50%;
                    }
                }
            }
        }

        .colWhyChooseUs {
            padding-bottom: 20px;
            min-width: 347px;
            max-width: 350px;
        }

        p {
            color: #8dc63f;
            text-align: center;
            width: 310px;
        }
    }
}

.customerInformation {
    background-image: url(/images/customer_information/customer_imformation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 845px;

    .customerInformationCover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;

        .customerInformationTop {
            .customerInformationTopCover {
                position: relative;

                .customerInformationTitle {
                    text-align: center;

                    h1 {
                        color: #fff;
                        font-size: 45px;
                        margin-bottom: unset;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;

                        &::after {
                            content: "";
                            width: 280px;
                            height: 6px;
                            background: linear-gradient(to right, #00894f 50%, rgb(255, 255, 255) 50%);
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 120%;
                            left: 50%;
                        }
                    }
                }
            }
        }

        .customerInformationCenter {
            margin-top: 40px;

            p {
                margin-bottom: unset;
                font-size: 18px;
            }
        }

        .customerInformationBottom {
            margin: 30px 0;
            flex-direction: column;
            gap: 20px;

            input {
                width: 55rem;
                height: 50px;
                background-color: #fff;
                padding: 10px 20px;
                font-size: 18px;
                color: #00894F;
            }

            .styleTextArea {
                width: 55rem;
                background-color: #fff;
                padding: 10px 20px;
                font-size: 18px;
                color: #000;
                max-width: unset;
            }

            .btn_see_more {
                margin-top: 3rem;

                button {
                    background: linear-gradient(to right, #8dc63f, #00894f);
                    width: 220px;
                    height: 35px;
                    border-radius: 20px;
                    justify-content: space-around;
                    cursor: pointer;

                    p {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: unset !important;
                        color: #fff;
                    }

                    .iconBtn {
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .carouselCertificationBackground {
        .certificationTopCover {
            .certificationTitle {
                h1 {
                    font-size: 35px;
                }
            }
        }
    }

    .aboutUs {
        height: 990px;

        .aboutUsCover {
            width: 365px;
            height: 955px;

            .hideAboutUsPicture {
                display: none;
            }

            .aboutUsTitle {
                h1 {
                    font-size: 38px;

                    &::after {
                        width: 205px;
                    }
                }
            }
        }
    }

    .bestSelling {
        .bestSellingTop {
            .bestSellingTop__left {
                .left__cover {
                    .images {
                        display: none;
                    }

                    .coverTitle {
                        .title {
                            h2 {
                                font-size: 35px;

                                &::after {
                                    left: 50%;
                                }
                            }
                        }
                    }
                }
            }

            .bestSellingTop__right {
                .right__cover {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }

        .bestSellingBottom {
            .bestSellingBottom__right {
                margin-top: 25px;
            }
        }
    }

    .newProduct {
        .bestSellingTop {
            .bestSellingTop__left {
                .left__cover {
                    .coverTitle {
                        .title {
                            h2 {
                                &::after {
                                    left: 48%;
                                }
                            }
                        }
                    }
                }
            }

            .bestSellingTop__right {
                margin-top: 32px;
            }
        }
    }

    .featuredProduct {
        .bestSellingTop {
            .bestSellingTop__left {
                .left__cover {
                    .coverTitle {
                        .title {
                            h2 {
                                font-size: 28px;

                                &.featuredProductTitle {
                                    &::after {
                                        left: 48%;
                                        width: 260px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .news {
        .newsCover {
            .newsBottomCover {
                .newsItem {
                    width: unset;

                    .imageTop {
                        width: 365px;
                    }

                    .contentCover {
                        .content {
                            .contentTitle {
                                h2 {
                                    font-size: 19px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .whyChooseUs {
        height: 1240px;

        .whyChooseUsCover {
            .whyChooseUsTopCover {
                .whyChooseUsTitle {
                    h1 {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .customerInformation {
        .customerInformationCover {
            .customerInformationTop {
                .customerInformationTopCover {
                    .customerInformationTitle {
                        h1 {
                            font-size: 31px;
                        }
                    }
                }
            }

            .customerInformationBottom {

                input,
                .styleTextArea {
                    width: 28rem;
                }
            }
        }
    }
}