.navbarNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: unset;

    .navItem {
        font-weight: bold;
        list-style-type: none;

        .navLink {
            color: #00894f;
            transition: all 0.5s;
            font-size: 18px;
            text-transform: uppercase;
            
        }

        .dropdownContent {
            display: none;
            position: absolute;
            min-width: 180px;
            -webkit-box-shadow: 4px 4px 10px -1px #00894f;
            -moz-box-shadow: 4px 4px 10px -1px #00894f;
            box-shadow: 4px 4px 10px -1px #00894f;
            z-index: 1;
            border-radius: 5px;
            animation: MoveDownSubMenu 0.4s linear 1;
            animation-fill-mode: forwards;
            visibility: hidden;
            background: #fff;
            list-style-type: none;

            .dropdownContentItem {
                color: black;
                padding: 0 16px;
                text-decoration: none;
                display: block;
                transition: all .2s;
                text-transform: uppercase;

                .subMenu {
                    display: none;
                    position: absolute;
                    -webkit-box-shadow: 4px 4px 10px -1px #00894f;
                    -moz-box-shadow: 4px 4px 10px -1px #00894f;
                    box-shadow: 4px 4px 10px -1px #00894f;
                    z-index: 1;
                    border-radius: 5px;
                    animation: MoveLeftToRightSubMenu 0.4s linear 1;
                    animation-fill-mode: forwards;
                    visibility: hidden;
                    background: #fff;
                    list-style-type: none;
                    top: 0;

                    .subMenuItem {
                        color: black;
                        padding: 0 16px;
                        text-decoration: none;
                        display: block;
                        transition: all .2s;
                        text-transform: uppercase;

                        .linkSubMenu {
                            color: #00894f;
                            transition: all .5s;
                            font-size: 16px;
                            
                        }

                        &:hover {
                            border-left: 4px solid #00894f;

                            .linkSubMenu {
                                color: #8dc63f;
                            }
                        }
                    }

                    &::after {
                        content: '';
                        width: 25px;
                        height: 65px;
                        background: transparent;
                        position: absolute;
                        left: -15px;
                    }
                }

                &:nth-child(1) {
                    .subMenu {
                        min-width: 250px;
                        left: 16rem;

                        &::after {
                            top: 0;
                        }
                    }
                }

                &:nth-child(2) {
                    .subMenu {
                        min-width: 300px;
                        left: 16rem;

                        &::after {
                            top: 65px;
                        }
                    }
                }

                &:nth-child(3) {
                    .subMenu {
                        min-width: 250px;
                        left: 16.4rem;

                        &::after {
                            top: 130px;
                        }
                    }
                }

                .linkDropdown {
                    color: #00894f;
                    transition: all .5s;
                    font-size: 16px;
                    
                }

                &:hover {
                    border-left: 4px solid #00894f;

                    .linkDropdown {
                        color: #8dc63f;
                    }

                    .subMenu {
                        display: block;
                    }
                }
            }
        }

        &.active {
            .navLink {
                color: #8dc63f;
            }

            &::after {
                content: " ";
                width: 100%;
                height: 3px;
                background: linear-gradient(to right, #8dc63f, #00894f);
                display: block;
            }
        }

        &::after {
            content: "";
            width: 0;
            height: 3px;
            background: linear-gradient(to right, #8dc63f, #00894f);
            display: block;
            transition: all 0.5s;
            transform: translateY(-12px);
        }

        &:hover {
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                background: linear-gradient(to right, #8dc63f, #00894f);
                display: block;
            }

            .dropdownContent {
                display: block;
                top: 70px;
            }
        }

        &:hover {
            .navLink {
                color: #8dc63f;
            }
        }
    }
}

@keyframes MoveDownSubMenu {
    0% {
        transform: translateY(-15px);
        visibility: visible;
    }

    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes MoveLeftToRightSubMenu {
    0% {
        transform: translateX(-10px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.headerTool {
    display: flex;
    align-items: center;
    justify-content: center;

    .searchBox {
        border-radius: 55px;
        height: 44px;
        background: #ededed;
        display: flex;
        align-items: center;

        .buttonSearch {
            font-size: 20px;
            cursor: pointer;
            padding: 0 10px 0 15px;

            .btnSearch {
                color: #00894f;
                transition: all .5s;
            }

            &:hover {
                .btnSearch {
                    color: #8dc63f;
                }
            }
        }

        input {
            font-size: 16px;
            width: 200px;
            height: 100%;
            border: 0;
            background: transparent;
            outline: none;
            color: #00894f;
        }

        .searchPlace {
            &::placeholder {
                color: #00894f;
                opacity: 1;
            }
        }
    }
}

.dropdownLanguage {
    width: 120px;
    color: #00894f;
}

.cartIcon {
    color: #00894f;
    font-size: 30px;
}

.footerCG {
    padding: unset;
    width: 100%;
    .info{}
    .copyRight{
        display: flex;
        align-items:center;
        justify-content: center;
        text-align: center;
        height: 50px;
        background-color: #00894f;
        width: 100%;
        .content{
            color: #fff;
            font-size: 16px;
        }
    }
}